*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* list-style-type: none; */
    font-family: 'Montserrat';
}

.logo{
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 60%;
}

.navbarr{
    display: flex;
    /* background-color: #e4d8d8; */
}

.nav-list{
    width: 50%;
    display: flex; 
    align-items: center;
    margin-bottom: 0px;
    padding-left: 0px;
    /* transition: all 1s ease-out; */
}

.nav-list li{
    list-style: none;
    padding: 25px 30px;
}

.nav-list li:hover{
    /* background-color:#EDEDED; */
    border-bottom: 3px solid rgb(224, 36, 67);
}

.nav-list li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight:bold;
}

.nav-list li a:hover{
    color: rgb(224, 36, 67);
}

.rightnav{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: auto;
}

.rightnav a{
    color: black;
    float: right;
    font-weight: bold;
    text-decoration: none;
}

.rightnav:hover{
    border-bottom: 3px solid rgb(224, 36, 67);
}

.rightnav a:hover{
    color: rgb(224, 36, 67);
 
}

/* #search{
    padding: 6px;
    margin: 5px;
    font-size: 19px;
    align-items: center; 
} */

.background{
    background: rgb(0, 0,0, 0.7) url('img3.jpg') no-repeat;
    /* background-size: cover; */
    background-blend-mode: darken;
}

.section1{
   height: 90vh;
   background-color: #EDEDED;
   position:relative;
}

.company-name{
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0%;
}

.company-name h1{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 80px;
    padding: 10px 10px 0px 10px;
    margin: 30px 20px 0px 55px;
    color: rgb(236, 19, 56);
}

.company-name h2{
    margin: 0 20px 5px 50px;
    font-size: 23px;
    color: #553e4e;    
}

.description{
    bottom: 0%;
    margin: 40px;
    padding: 20px;
    position: absolute;
    
}

.right-main-box{
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
}

.steps-to-book{
    border: 1px solid  #553e4e;
    border-radius: 20px;
    width: 70%;
    background-color: #fff; 
    margin: 6% 15% auto 0;
    padding: 20px;   
}

.zoom:hover{
    transform: scale(1.1);
    color: rgb(224, 36, 67);

}

.section2{
    width: 1349px;
    height: 1370px;
    position: relative;
}

.services-title h2{
    /* color: #553e4e; */
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 50px;
    
}

#feature{
    padding: 7% 10%;
    padding-top: 40px;
    text-align: center;
}

.feature-box{
    font-size: 15px;
    text-align: center;
    padding: 5%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  .section3{
    background-color: #EDEDED;
 }
 
 .section4{
     height: 50vh;
     background-color: rgb(56, 49, 49) ;
 }